input{
    width: 100%;
}
a:link {
    text-decoration: underline;
}
.top-sm{
    padding-top: .5rem;
}
.top-md{
    margin-top: 1rem;
}
.error{
    display: none;
}
.event-administration{
    padding-top: 3rem;
}
.event-table{
    padding-top: 4rem;
}
.event-search{
    padding-top: 1rem;
}
.form-check-label{
    margin-left: 5px;
}
@media only screen and (min-width: 768px) {
    .search-button{
        text-align: right;
        margin-top: 0;
    }
    .add-event{
        text-align: right;
        margin-top: 0;
    }
}
@media only screen and (min-width: 575px){
    .input-label{
        text-align: right;
    }
}
.modal-actions{
    padding: 1rem 0;
}
#save-event-button{
    margin-right: .5rem;
}
.checkbox-container{
    margin-left: 5px;
}